<div class="container" id="idOrderWizard">
    <div class="row">
        <div class="board col-md-4 col-md-offset-2">
            <ul class="nav nav-tabs" >
                <div class="liner"></div>
                <li rel-index="0">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-shopping-cart"></i></span>
                    </a>
                </li>
                <li rel-index="1">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-map-marker"></i></span>
                    </a>
                </li>
                <li rel-index="2" class="active">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-euro"></i></span>
                    </a>
                </li>
                <li rel-index="3">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 text-center" style="margin-top:50px;">
        <button class="btn btn-success pull-right" :disabled="isBusy" v-on:click="submit">Complete Payment <span class="glyphicon glyphicon-play"></button>
    </div>
    <div class="col-md-8 text-center" style="margin-top:50px;color:black;">
    <!--a v-on:click="submit" style="cursor:pointer;"><div class="fabButton showMobile" style="background-image: url('assets/img/eatit.png');"></div></a-->

        <div class="form-group col-md-4">
            <div class="thumbnail thumbnail-payoption radio">
                <img src="assets/img/payment/cod.png">
                <label><input type="radio" name="optradio" value="cashondelivery" v-model="paymentmode" checked="checked">Cash On Delivery</label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <div class="thumbnail thumbnail-payoption radio">
                <img src="assets/img/payment/visa.png">
                <label><input type="radio" value="creditcard" v-model="paymentmode" name="optradio">Credit Card</label>
            </div>
        </div>
        <!--div class="form-group col-md-4">
            <div class="thumbnail thumbnail-payoption radio">
                <img src="assets/img/payment/ez.png">
                <label><input type="radio" disabled name="optradio">Ez Cash</label>
            </div>
        </div-->
        <div class="form-group col-md-12" style="margin-top:50px;">
            <button class="btn btn-success pull-right" style="margin-bottom:20px;" :disabled="isBusy" v-on:click="submit">Complete Payment <span class="glyphicon glyphicon-play"></button>
        </div>
        <form method="POST" :action="urls.action" id="idPaymentForm" style="visibility:collapsed;">
            <input type="hidden" name="shopperzReieptId" v-model="receiptId" />
            <input type="hidden" name ="shopperzPayAmount" v-model="totalPrice"/>
            <input type="hidden" name ="shopperzComment" value="test"/>

            <input type="hidden" name="shopperzErrorCallbackUrl" v-model="urls.error" />
            <input type="hidden" name="shopperzCallbackUrl" v-model="urls.success" />
            <input type="hidden" name="shopperzMerchantId" value="mylunch-002" />
            <input type="hidden" name="shopperzAppId" value="app-001" />
        </form>
    <div>

</div>
