<div style="color:black;">
    <div>
        <div class="btn-group" role="group" aria-label="..." style="margin: 10px;">
            <a class="btn btn-primary" href="#/admin">Admin Panel</a>
            <a class="btn btn-primary" href="#/admin-productform">New Product</a>
        </div>
    </div>
    <br/><br/><br/>


  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items">
        <td><img v-bind:src="'components/soss-uploader/service/get/products/' + item.itemid" alt="" style="width:60px;height:60px;"/></td>
        <td>{{ item.name }}</td>
        <td>{{ item.caption }}</td>
        <td>{{ item.uom }}.{{ item.price }}</td>
        <td>
            <div class="btn-group pull-right" role="group" aria-label="..." style="margin: 10px;">
                <a class="btn btn-primary" :href="'#/admin-productform?productid=' + item.itemid"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                <a class="btn btn-primary" v-on:click="deleteProduct(item)" style="cursor:pointer;"> <span class="glyphicon glyphicon-remove"></span> Delete</a>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>