<div class="container" id="idOrderWizard">
    <div class="row">
        <div class="board col-md-4 col-md-offset-2">
            <ul class="nav nav-tabs" >
                <div class="liner"></div>
                <li rel-index="0">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-shopping-cart"></i></span>
                    </a>
                </li>
                <li rel-index="1">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-map-marker"></i></span>
                    </a>
                </li>
                <li rel-index="2">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-euro"></i></span>
                    </a>
                </li>
                <li rel-index="3" class="active">
                    <a class="btn">
                        <span><i class="glyphicon glyphicon-ok"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-8 text-center">
        <!--a href="#/home"><div class="fabButton showMobile" style="background-image: url('assets/img/gograb.png');"></div></a-->
        <h2>Your credit card transaction is succeddful. Please wait until your order is being processed.</h2>
        <br/>
    <div>
</div>
